<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#" style="font-weight: 600">
      TechCourseSite
      <span style="font-weight: 300; color: black">&nbsp;shrinker</span>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

<section class="section">
  <div class="container" style="text-align:center;">
    <div id="436857463" ng-if="isProd">
      <script type="text/javascript">
        try {
          window._mNHandle.queue.push(function() {
            window._mNDetails.loadTag('436857463', '970x90', '436857463');
          });
        } catch (error) {}
      </script>
    </div>
    <a ng-href="{{ fileUrl }}" download="The Build a SAAS App with Flask Course.torrent">download</a>
    <button ng-click="generateLink()" ng-if="!generateLinkClicked">Get Link</button>
    <div ng-if="generateLinkClicked">
      <p class="almost-ready">Your link is almost ready!</p>
      <span id="countdown">
        <span id="timer">{{secondsLeft}}</span>
        <br>
        Seconds
      </span>
      <br>
      <button ng-disabled="secondsLeft > 0" ng-click="downloadFile()">Download</button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Copyright © 2019 TechCourseSite.
    </p>
  </div>
</footer>
