.login-form {
  width: 33%;
  margin: 0 auto;
}

.section {
  min-height: 80vh;
}

.categories-selection .checkbox {
  width: 23%;
  display: inline-block;
}

.datetimepicker-header {
  display: none !important;
}

.footer {
  background-color: rgb(34, 27, 27);
  color: #fff;
}

.categories-selection {
  margin-bottom: 1em;
}

.request {
  cursor: wait;
}


.almost-ready {
  color: #424fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1em;
}

#countdown {
  border: 2px solid #0f556669;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  padding: 29px 0 0;
}
















// mobile phone
@media only screen and (max-width: 991px) {
	.categories-selection .checkbox {
    display: block;
    width: 100%;
  }
}
